/*Page fond/taille/texte*/
body{
	background-color: #786D5F
	
	
}


.vertical-line
{ position: right;
  
 width:5px;
 border-left:1px solid gray;
 height:100px;
 color: black;
}















/* fin de page */
#footer{
	position: relative;
	top: 200px;
	border: 3px white groove;
width:100%;
height:auto;
margin:auto;
background: #272727;
padding: 40px 0px; 
text-align: center;
font-size: 1em;
font-family:Arial;
color:white;
}

/*Point texte pour remonter au top de la page et non la moitiée*/
#remonter{
	color: black;
	position: relative;
	top: 100px;
	left: 40px;


