*{
  margin:0;
  padding:0;
 

}

body, html{height:100%;}
 body{
  
  background-color:#DDEEFA; 
  
  font: normal 300 18px "Roboto", sans-serif;
}
#main{
  height: 100%;
  
  margin:0 auto;
 
}
p {
  text-justify: auto;
  text-align: center;
}

/*footer{
 background-color:#2D373F;
 
 bottom:0;
 width:100%;
 padding-top:25px;
 height:10px;
 margin-top: 50px;
 margin-bottom: 25px;
}*/
#footer {
  margin-top: 50px;
  text-align: center;
  position: absolute;
  
  margin-bottom: auto;
  width:100%;
  height:50px;
  background-color:#2D373F;
}
#footer a{
  background-color: #2D373F;
  margin-right: 100px;
  color: white;
  text-decoration: none;
}
#footer a:hover{
  color: #e74c3c;
  transition: all 0.2s ease-in-out;
}

/*header {
  display: flex;
  justify-content: space-around;
  max-width: 70%;
  margin: auto;
}*/

#menu-nav {
  max-width: 100%;
  margin-top:auto;
  margin-bottom: 50px;
  background-color: #2D373F;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
 
#navigation-bar ul {
  border-radius: 4px;
  overflow: hidden;
}
#navigation-bar li {
  float: left;
  width: 20%;
}
#navigation-bar li:hover a::before {
  right: 0;
  left: 0;
}
#navigation-bar a {
  color: #848484;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 20px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
#navigation-bar a:hover {
  color: #e74c3c;
}
#navigation-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: #e74c3c;
}
#navigation-bar a:hover::before {
  right: 0;
  left: 0;
}
 
li {
  list-style: none;
}

.presentation_jeux {
  
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
  height: 30%;
  width: 30%;
  overflow: hidden;
}

.presentation_jeux img:hover {

  transform: scale(1.15);
  transition: ease 0.5s;

}
.presentation_jeux img{

    transition: ease 0.5s;
    height: 100%;
    width: 100%;
    margin: 0;

}

/*.afficher_user {
 border-width:1px;
 border-style:solid;
 border-color: white;
 width: 150px;
 height: 70px;
 background-color: red;

}
*/

#presentation {
  margin-top: 10%;
  margin-right: 25%;
  margin-left: 25%;
  text-align: justify;
  width: 50%;
  height: 50%;
}

.titre{
  text-align: center;
  color:#2D373F;
  margin-bottom: 5%;
}

button {

  border-radius: 10px;
  background-color: #2D373F;
  border: none;
  color: #848484;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 15px;
  cursor: pointer;
}
button:hover {
  color: #e74c3c;
}
button:before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: #e74c3c;
}
button :hover::before {
  right: 0;
  left: 0;
}
h2 {
  text-align: center;
  color:#2D373F;
  margin: 5%;
}

.connection {

  text-align: center;
}
.inscription {

  text-align: center;
}


